/* Main Styles */
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index:15
}

.sticky-header {
  position: fixed;
  width: 100%;
  height: 8em;
  background-color: #f9f9f9; /* Set the background color to dark blue */
  color: #040404; /* Set the text color to white */
  transition: background-color 0.5s ease; /* Add a smooth transition effect */
}
.header-nav-link.resume{
 border: 1px solid black;
 background-color: black;
 color: white;
 border-radius: .5rem;
 text-align: center;
}
.header-nav-link.resume:hover{
  color: gray;
  background: none;
  border: none
}
.header-nav-link.resume:active{
  background-color: white;
  border: 1px solid black;
  color: black
}

#disclaimer{
  text-align-last: center;
  border: none;
}
h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
}

section {
  /* padding: 50px; */
  padding-top: calc(10rem + 1px); /*add padding to the top of each section to match the height of the header*/
  margin-bottom: -9rem;
  border: 1px solid #ddd;
  border-top: none;
  padding-left: 50px;
  padding-right: 50px
}
#about-me,
#software-engineering-skills,
#technical-management-skills,
#hobbies
{
  padding-bottom: 2rem
}
h2 {
  font-size: 28px;
  margin-top: 0;
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

code {
  font-family: monospace;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* set height to the desired value */
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px; /* adjust the margin as needed */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  /* background-color: #ddd; */
  color: rgb(115, 115, 115);
  border-radius: 0.5rem;
  border: none;
  height: 0.2px;
  text-decoration: none;
}

nav a:active{
  color: rgb(62, 8, 93);
  
}

.header.sticky {
  position: fixed;
  color: #f4f4f4;
  transition: ease-in-out 0.3s;
  background-color: black;
}

.nav-link.sticky a {
  color: #34314b;
}

#about-me {
  display: flex;
}
#bio-paragraph {
  margin-left: 2rem;
}
ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-self: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: none
}

.header-nav-list {
  flex-direction: row;
}

ul li {
  display: inline-block;
  list-style: none;
}

li:before {
  color: #666;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Animation Styles */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  float: left;
}

.logo a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.logo a:hover {
  background-color: #ddd;
  color: black;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;

}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: -10;
}

.circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  animation: spin 2s linear infinite;
}
.spinner {
  position: absolute;
  top: 0;
  left: -5%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top-color: #2e033b;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* create animated particles for the circle*/
.particle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2e033b;
  animation: particle-anim 2s ease-in-out infinite;
}

@keyframes particle-anim {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 0;
  }
  50% {
    transform: translate(-100px, -100px) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
    opacity: 0;
  }
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  font-size: 24px;
  font-weight: bold;
  animation: typing 3s steps(14) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#creative-text {
  color: black;
  animation: fade-in 1s ease-in-out forwards;
}

.creative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  display: none;
}

.loading p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 10px solid #333; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in-out 4s ease-in-out infinite;
  /* Change duration from 1s to 2s */
}

#loading {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  animation: blink 3s infinite;
  justify-content: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s;
}

.main-content {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.main-content.show {
  opacity: 1;
}


/*examples*/
.example-heading{
  text-align: center;
}
#example-list{
  margin-top: 4rem;
}
#figma-examples {
  z-index: 10;
}
.hide {
  animation: fade-out 2s ease forwards;
}

/* Loading Highlight */
.highlight {
  position: relative;
}

.highlight::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.highlight:hover::before {
  opacity: 1;
}

#mSkill {
  margin-bottom: 0;
}

.example-title {
  margin-right: 0.5rem;
}
.video-examples {
  z-index: 10;
}
.example-link {
  margin-right: 1rem;
  z-index: 10;
}

.adobe-example-list {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-bottom: 3rem;
}

.adobe-example-link {
  margin-right: 2rem;
  border-radius: 1rem;
}

#contact {
  margin-bottom: 0;
}


/* Recommendations*/
.user-image{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
}
.linked_logo{
  margin-left: -1rem;

}

a.ref-linkedIn{
  margin-bottom: 10rem
}









/* Carousel */

#photography-carousel .carousel-inner {
  height: 600px;
  display: flex;
  justify-content: space-between;
}

#photography-carousel .item {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

#photography-carousel .item img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

#photography-carousel .item.active {
  display: block;
}

#photography-carousel .item.hidden {
  display: none;
}

#photography-carousel .carousel-control.left,
#photography-carousel .carousel-control.right {
  background-image: none;
  text-shadow: none;
}

#photography-carousel .carousel-control.left {
  left: -15px;
}

#photography-carousel .carousel-control.right {
  right: -15px;
}

#photography-carousel .carousel-indicators li {
  border: 1px solid #333;
  background-color: #ccc;
}

#photography-carousel .carousel-indicators .active {
  background-color: #333;
}

/* Show/hide additional images button */
#show-more-photos {
  margin-top: 20px;
}

/* Resume Modal */
.res-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



#footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}



#scrollUp{
  background-color:transparent;
  background-image: linear-gradient(45deg, #c0c6cc 0%, #595a5d 100%);
  color:white;
  font-size: 20px;
  border-radius: 1rem;
  height: 1rem;
  width: 3rem;
  position: fixed;
  bottom: 2.5rem;
  right: 50%;
  z-index: 300;
  text-align: center;
}

#scrollUp:hover{
  background-image: linear-gradient(-45deg, #c0c6cc 100%, #595a5d 50%);
}
#scrollUp .fa-arrow-up{
  vertical-align: -webkit-baseline-middle;
}


/* Media Queries */

/* Mobile */
@media only screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2" "photo3 photo4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  .modal-content img {
    max-width: 100%;
    height: auto;
  }

  nav {
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }

  .ul {
    display: flex;
    text-decoration: none;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2 photo3" "photo4 photo4 photo4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2 photo3 photo4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
  }
}
