@media screen and ( min-width: 400px){
 #about-me .section-header{
    margin-top: -4rem;
  }

}
@media screen and (max-width: 725px) {
  .container.sticky-header {
    max-width: 540px;
  }

  #bio-paragraph{
    padding-top: 2rem;
    width: 80%;
  }

}

@media only screen and (max-width: 727px) {
  .main-container {
    width: 80%;
  }
  .container.sticky-header {
    padding-top: 0px;
    padding-left: 0;
  }

  ul.nav-links-list {
    padding-top: 1.2rem;
  }
  #topNav.nav.navbar {
    padding: 0;
  }
  section {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .video-container {
    height: 205px;
    width: 350px;
  }
  .adobe-video-container {
    height: 205px;
    width: 320px;
    margin-left: 0;
  }

  p.video-paragraph.alpaca,
  p.video-paragraph.prayernet {
    width: 21rem;
  }

  ul.nav-links-list {
    display: flex;
    top: 0;
  }
  a.nav-link-item {
    font-size: small;
  }

  .content-section {
    margin-top: 2rem;
  }
  section {
    padding-top: calc(11rem + 1px);
  }
  section#examples.main-content {
    padding-top: calc(15rem + 1px);
  }
  .example-container {
    margin-bottom: -3rem;
  }
  .video-paragraph.prayernet {
    padding-left: 0;
  }
  .example-container.alpaca,
  .example-container.prayernet {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* align-content: center; */
  }

  .video-paragraph.alpaca,
  .video-paragraph.prayernet {
    width: 28rem;
    margin-top: 1rem;
    text-align: -webkit-center;
    font-size: 1rem;
  }

  #header-name {
    position: fixed;
    top: 14px;
    font-size: 0.5rem;
    color: white;
    background-color: black;
  }

  .alpaca-div {
    margin-left: 0rem;
  }
  #footer {
    z-index: 100;
  }
}

/* Mobile */
@media only screen and (max-width: 775px) {
  [aria-controls="navbarDropdown"] {
    /*display navbar button*/
    display: block;
    border: 1px solid black;
  }
  [aria-controls="navbarDropdown:active"] {
    /*display navbar button*/
    background-color: 1px solid rgb(128, 22, 22);
  }

  .container.sticky-header{
    padding-left: 0px;
  }
  button.toggle-nav:active {
    background-color: 1px solid rgb(128, 22, 22);
  }

  [aria-expanded="false"] ~ ul.nav-links {
    /*when not expanded-list is hidden*/
    display: none;
  }

  [aria-expanded="true"] ~ ul.nav-links {
    /*when menu button is clicked/expanded- display*/
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    /* font-size: 0.2rem; */
    /* background-image: linear-gradient( to left, transparent, rgba(255, 255, 255, 0.5) ); */
    width: 100%;
    text-align: right;
    box-shadow: 0 0 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20px;
    color: #c7c7d5;
  }

  #header-name {
    top: 0rem;
    right: 0px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: fixed;
  }
  #header-name.sticky {
    display: none;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2" "photo3 photo4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  .modal-content img {
    max-width: 100%;
    height: auto;
  }

  nav {
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }
  nav a {
    color: black;
  }
  nav a:active {
    color: rgb(176, 85, 229);
  }
  .ul {
    display: flex;
    text-decoration: none;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }

  ul.nav-links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
  }
  ul.nav-links {
    flex-direction: column;
    background-color: rgb(62, 8, 93);
    border-radius: 20%;
  }
  .nav-link-item.resume {
    background-color: rgb(104, 13, 157);
    color: rgb(179, 179, 179);
    border: none;
  }
  .nav-link-item.resume:hover {
    border-radius: 1px solid rgb(104, 13, 157);
  }
  .nav-link-item.resume:active {
    border: none;
    color: white;
    background-color: rgb(104, 13, 157);
  }

  .nav-link {
    margin-top: 0.5rem;
  }

  #header-name {
    font-size: 0.7rem;
    position: fixed;
    left: 0;
  }

  #footer {
    font-size: 0.6rem;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    margin: auto 0;
  }
  .container.sticky-header{
    padding-left: 0px;
    
  }

  h1#header-name {
    position: fixed;
    top: 0rem;
    font-size: 1rem;
  }
  .nav-link-item.resume {
    text-align: center;
    border: none;
  }
  a.nav {
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .video-paragraph {
    width: 21rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1123px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2 photo3" "photo4 photo4 photo4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  li.nav-link {
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.4rem;
    padding: 0;
  }

  .container {
    padding: 0;
    margin: auto 0;
  }
  /* h1#header-name{
    position: fixed;
    top: 0rem;
  } */
}

/* Desktop */
@media only screen and (min-width: 1124px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .modal-content {
    grid-template-areas: "photo1 photo2 photo3 photo4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
  }

  ul.nav-links-list {
    display: flex;
    /* align-content: stretch; */
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;  }
}
