/* Aria Controls */
[aria-controls="navbarDropdown"] {
  display: none;
}
.container {
  margin: auto 0;
}
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transition: ease-in-out 0.3s;
}

.navbar.sticky {
  color: #34314b;
  transition: ease-in-out 0.3s;
  background-color: var(--font-color-link);
}

.nav-link.sticky a {
  color: #34314b;
}

.nav-toggle-btn {
  position: absolute;
  right: 1.25rem;
  top: 0.625rem;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.nav-toggle-btn > span {
  color: rgb(62, 8, 93);
  font-size: 1rem;
  pointer-events: none;
}

/* Main Styles */
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-top: 0;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 15;
}

.sticky-header {
  position: fixed;
  width: 100%;
  height: 8em;
  background-color: #ffffff; /* Set the background color to dark blue */
  color: #040404; /* Set the text color to white */
  transition: background-color 0.5s ease; /* Add a smooth transition effect */
}
.nav-link-item.resume {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
}
.nav-link-item.resume:hover {
  color: gray;
  background: none;
  border: none;
}
.nav-link-item.resume:active {
  background-color: white;
  border: 1px solid black;
  color: black;
}

li.nav-link {
  display: block;
  padding: 0px 0rem;
}
#disclaimer {
  padding-top: 1rem;
  text-align-last: center;
  border: none;
}

section {
  /* padding: 50px; */
  padding-top: calc(
    10rem + 1px
  ); /*add padding to the top of each section to match the height of the header*/
  margin-bottom: -9rem;
  border: 1px solid #ddd;
  border-top: none;
  padding-left: 50px;
  padding-right: 50px;
}
#about-me,
#software-engineering-skills,
#technical-management-skills,
#hobbies {
  padding-bottom: 2rem;
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

code {
  font-family: monospace;
}

img {
  max-width: 100%;
}

ul.nav-links {
  display: flex;
  flex-direction: row;
  margin-right: none;
}
a.nav-link-item {
  margin-right: none;
}
#topNav.nav.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.nav-links-list{
  width: 100%;
    display: flex;
    padding-left: 0
}
a.nav-link-item.resume{
  font-size: medium;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px; /* adjust the margin as needed */
  text-align: center;
  padding: 9px 5px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  /* background-color: #ddd; */
  color: rgb(115, 115, 115);
  border-radius: 0.5rem;
  border: none;
  height: 0.2px;
  text-decoration: none;
}

nav a:active {
  color: rgb(62, 8, 93);
}

.header.sticky {
  position: fixed;
  color: #f4f4f4;
  transition: ease-in-out 0.3s;
  background-color: black;
}

.nav-link.sticky a {
  color: #34314b;
}

#about-me {
  display: flex;
}
#bio-paragraph {
  margin-left: 2rem;
}
/* ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-self: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: none
} */

.nav-link-list {
  flex-direction: row;
}

ul li {
  display: inline-block;
  list-style: none;
}

li:before {
  color: #666;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.logo {
  float: left;
}

.logo a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.logo a:hover {
  background-color: #ddd;
  color: black;
}

/* Animation Styles */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: -10;
}

.circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  animation: spin 2s linear infinite;
}

.spinner {
  position: absolute;
  top: 0;
  left: -5%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top-color: #2e033b;
}

/* create animated particles for the circle*/
.particle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2e033b;
  animation: particle-anim 2s ease-in-out infinite;
}

@keyframes particle-anim {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 0;
  }
  50% {
    transform: translate(-100px, -100px) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
    opacity: 0;
  }
}

/* .typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  font-size: 24px;
  font-weight: bold;
  animation: typing 3s steps(20) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

#creative-text {
  color: black;
  animation: fade-in 1s ease-in-out forwards;

}

.creative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  display: none;
  width: 22rem;

}

.loading p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 10px solid #333; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in-out 2s ease-in-out infinite;
  /* Change duration from 1s to 2s */
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  animation: blink 3s infinite;
  width: 40rem;
}

/* .typing-end::after {
  content: '';
  display: inline-block;
  animation: blink 1s infinite;
} */

@keyframes blink {
  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s;
}
.hide {
  animation: fade-out 2s ease forwards;
}

.main-content {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.main-content.show {
  opacity: 1;
}

/*examples*/
.examples-container {
  border: 1px gray solid;
  border-radius: 2.5rem;
  border-left: none;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

section.examples{
  padding-top: 5rem;
}
#example-list {
  margin-left: 2rem;
}
.alpaca-div{
  margin-left:1rem
}
#example-title{
  margin-left: 1rem;
  display: flex;
}
.video-container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(189, 189, 189);
  width: 420px;
  height: 310px;
}
.adobe-video-container{
  width: 320px;
  height: 210px;
}
ul{
  padding-left: 0;
}
ul.example-section{
  border: 1px solid gray;
  border-radius: 3rem 2rem 2rem 3rem;
  border-left: none;
  padding: 1rem 0 1rem 1rem;

}
.example-container{
  margin-bottom: 3rem;
  
}
.example-container.alpaca{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.video-paragraph {
  width: 43rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.h-rule{
  border-radius: .5rem
}
.video-paragraph.prayernet {
  padding-left: 1rem;
  font-size: 1.5rem;
}
.video-paragraph.alpaca {
  display: flex;
  justify-content: flex-start;
}
.prayernet {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: -1;

}
#figma-examples {
  z-index: 10;
}

/* Loading Highlight */
.highlight {
  position: relative;
}

.highlight::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.highlight:hover::before {
  opacity: 1;
}

#mSkill {
  margin-bottom: 0;
}

.example-title {
  margin-right: 0.5rem;
}
.video-examples {
  z-index: 10;
}
.example-link {
  margin-right: 1rem;
  z-index: 10;
}
.example-link.alpaca{
  margin-left:1rem
}

.adobe-example-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: center;
}

.adobe-example-link {
  margin-right: 2rem;
  border-radius: 1rem;
}

#contact {
  margin-bottom: 0;
}

/* Recommendations*/
.user-image {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
}
.linked_logo {
  margin-left: -1rem;
}

a.ref-linkedIn {
  margin-bottom: 10rem;
}

/* Carousel */

#photography-carousel .carousel-inner {
  height: 600px;
  display: flex;
  justify-content: space-between;
}

#photography-carousel .item {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

#photography-carousel .item img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

#photography-carousel .item.active {
  display: block;
}

#photography-carousel .item.hidden {
  display: none;
}

#photography-carousel .carousel-control.left,
#photography-carousel .carousel-control.right {
  background-image: none;
  text-shadow: none;
}

#photography-carousel .carousel-control.left {
  left: -15px;
}

#photography-carousel .carousel-control.right {
  right: -15px;
}

#photography-carousel .carousel-indicators li {
  border: 1px solid #333;
  background-color: #ccc;
}

#photography-carousel .carousel-indicators .active {
  background-color: #333;
}

/* Show/hide additional images button */
#show-more-photos {
  margin-top: 20px;
}

/* Resume Modal */
.res-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 100;
}

#scrollUp {
  background-color: transparent;
  background-image: linear-gradient(45deg, #c0c6cc 0%, #595a5d 100%);
  color: white;
  font-size: 20px;
  border-radius: 1rem;
  height: 1rem;
  width: 3rem;
  position: fixed;
  bottom: 2.5rem;
  right: 50%;
  z-index: 300;
  text-align: center;
}

#scrollUp:hover {
  background-image: linear-gradient(-45deg, #c0c6cc 100%, #595a5d 50%);
}
#scrollUp .fa-arrow-up {
  vertical-align: -webkit-baseline-middle;
}

/* Media Queries */
